In [1]:
# dependencies

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as stats

### Bring in the CSVs going back 3 years

In [2]:
# load the files

folder = "extracted_csvs/"
rest_of_file = "-citibike-tripdata.csv"

#bike_2016_07 = folder + "201607" + rest_of_file
#bike_2016_08 = folder + "201608" + rest_of_file
#bike_2016_09 = folder + "201609" + rest_of_file
#bike_2016_10 = folder + "201610" + rest_of_file
#bike_2016_11 = folder + "201611" + rest_of_file
#bike_2016_12 = folder + "201612" + rest_of_file
#bike_2017_01 = folder + "201701" + rest_of_file
#bike_2017_02 = folder + "201702" + rest_of_file
#bike_2017_03 = folder + "201703" + rest_of_file
# bike_2017_04 = folder + "201704" + rest_of_file
# bike_2017_05 = folder + "201705" + rest_of_file
# bike_2017_06 = folder + "201706" + rest_of_file
# bike_2017_07 = folder + "201707" + rest_of_file
# bike_2017_08 = folder + "201708" + rest_of_file
# bike_2017_09 = folder + "201709" + rest_of_file
# bike_2017_10 = folder + "201710" + rest_of_file
# bike_2017_11 = folder + "201711" + rest_of_file
# bike_2017_12 = folder + "201712" + rest_of_file
# bike_2018_01 = folder + "201801" + rest_of_file
# bike_2018_02 = folder + "201802" + rest_of_file
# bike_2018_03 = folder + "201803" + rest_of_file
# bike_2018_04 = folder + "201804" + rest_of_file
# bike_2018_05 = folder + "201805" + rest_of_file
# bike_2018_06 = folder + "201806" + rest_of_file
# bike_2018_07 = folder + "201807" + rest_of_file
# bike_2018_08 = folder + "201808" + rest_of_file
bike_2018_09 = folder + "201809" + rest_of_file
bike_2018_10 = folder + "201810" + rest_of_file
bike_2018_11 = folder + "201811" + rest_of_file
bike_2018_12 = folder + "201812" + rest_of_file
bike_2019_01 = folder + "201901" + rest_of_file
bike_2019_02 = folder + "201902" + rest_of_file
bike_2019_03 = folder + "201903" + rest_of_file
bike_2019_04 = folder + "201904" + rest_of_file
#bike_2019_05 = folder + "201905" + rest_of_file
#bike_2019_06 = folder + "201906" + rest_of_file
#bike_2019_07 = folder + "201907" + rest_of_file

### Sep 18 - Apr 19

In [3]:
# read files into dataframe for DF5
df_2018_09 = pd.read_csv(bike_2018_09)
df_2018_09.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1635,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,132,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,3337,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,436,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,8457,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [4]:
# get # of rows
df_1809_rows = df_2018_09.count()
print(df_1809_rows)

tripduration               1877884
starttime                  1877884
stoptime                   1877884
start station id           1877168
start station name         1877168
start station latitude     1877884
start station longitude    1877884
end station id             1877168
end station name           1877168
end station latitude       1877884
end station longitude      1877884
bikeid                     1877884
usertype                   1877884
birth year                 1877884
gender                     1877884
dtype: int64

In [5]:
# read files into dataframe for DF5
df_2018_10 = pd.read_csv(bike_2018_10)
df_2018_10.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,330,2018-10-01 00:00:00.7010,2018-10-01 00:05:30.8490,293.0,Lafayette St & E 8 St,40.730207,-73.991026,504.0,1 Ave & E 16 St,40.732219,-73.981656,30493,Subscriber,1995,1
1,309,2018-10-01 00:00:13.5780,2018-10-01 00:05:23.2310,433.0,old - E 13 St & Avenue A,40.729554,-73.980572,394.0,E 9 St & Avenue C,40.725213,-73.977688,33054,Subscriber,1967,1
2,734,2018-10-01 00:00:16.6040,2018-10-01 00:12:31.5050,3472.0,W 15 St & 10 Ave,40.742754,-74.007474,285.0,Broadway & E 14 St,40.734546,-73.990741,33400,Subscriber,1983,2
3,788,2018-10-01 00:00:35.0670,2018-10-01 00:13:43.5780,417.0,Barclay St & Church St,40.712912,-74.010202,3472.0,W 15 St & 10 Ave,40.742754,-74.007474,31140,Customer,1988,1
4,1136,2018-10-01 00:00:38.1410,2018-10-01 00:19:34.6490,3699.0,W 50 St & 9 Ave,40.763605,-73.989180,495.0,W 47 St & 10 Ave,40.762699,-73.993012,20294,Subscriber,1969,0

In [6]:
# get # of rows
df_1810_rows = df_2018_10.count()
print(df_1810_rows)

tripduration               1878657
starttime                  1878657
stoptime                   1878657
start station id           1878433
start station name         1878433
start station latitude     1878657
start station longitude    1878657
end station id             1878433
end station name           1878433
end station latitude       1878657
end station longitude      1878657
bikeid                     1878657
usertype                   1878657
birth year                 1878657
gender                     1878657
dtype: int64

In [7]:
# use concat to append the rows of the dfs
concat_23 = pd.concat([df_2018_09, df_2018_10], sort=True)
# reset the index of the new DF
concat_23.reset_index()
concat_23.head()

,bikeid,birth year,end station id,end station latitude,end station longitude,end station name,gender,start station id,start station latitude,start station longitude,start station name,starttime,stoptime,tripduration,usertype
0,25577,1980,366.0,40.693261,-73.968896,Clinton Ave & Myrtle Ave,1,252.0,40.732264,-73.998522,MacDougal St & Washington Sq,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,1635,Subscriber
1,34377,1969,3242.0,40.691029,-73.991834,Schermerhorn St & Court St,0,314.0,40.693830,-73.990539,Cadman Plaza West & Montague St,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,132,Subscriber
2,30496,1975,3384.0,40.678724,-73.995991,Smith St & 3 St,1,3142.0,40.761227,-73.960940,1 Ave & E 62 St,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3337,Subscriber
3,28866,1984,3690.0,40.713342,-74.009355,Park Pl & Church St,2,308.0,40.713079,-73.998512,St James Pl & Oliver St,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,436,Subscriber
4,20943,1994,380.0,40.734011,-74.002939,W 4 St & 7 Ave S,1,345.0,40.736494,-73.997044,W 13 St & 6 Ave,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,8457,Customer

In [8]:
# get # of rows for concatenate
concat_23_rows = concat_23.count()
print(concat_23_rows)

bikeid                     3756541
birth year                 3756541
end station id             3755601
end station latitude       3756541
end station longitude      3756541
end station name           3755601
gender                     3756541
start station id           3755601
start station latitude     3756541
start station longitude    3756541
start station name         3755601
starttime                  3756541
stoptime                   3756541
tripduration               3756541
usertype                   3756541
dtype: int64

In [9]:
# read files into dataframe
df_2018_11 = pd.read_csv(bike_2018_11)
df_2018_11.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,254,2018-11-01 00:00:12.9100,2018-11-01 00:04:27.3870,3522.0,37 St & 24 Ave,40.770148,-73.912094,3513.0,21 St & Hoyt Ave S,40.774645,-73.923706,34117,Subscriber,1992,1
1,833,2018-11-01 00:00:16.3440,2018-11-01 00:14:09.4320,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,251.0,Mott St & Prince St,40.723180,-73.994800,32569,Subscriber,1986,2
2,683,2018-11-01 00:00:17.6630,2018-11-01 00:11:40.9170,3405.0,5 St & 6 Ave,40.670484,-73.982090,3584.0,Eastern Pkwy & Franklin Ave,40.670777,-73.957680,15795,Subscriber,1985,1
3,1840,2018-11-01 00:00:18.7970,2018-11-01 00:30:59.3050,3150.0,E 85 St & York Ave,40.775369,-73.948034,297.0,E 15 St & 3 Ave,40.734232,-73.986923,33290,Subscriber,1994,1
4,1212,2018-11-01 00:00:47.3230,2018-11-01 00:20:59.8840,325.0,E 19 St & 3 Ave,40.736245,-73.984738,212.0,W 16 St & The High Line,40.743349,-74.006818,17411,Subscriber,1989,1

In [10]:
# get # of rows
df_1811_rows = df_2018_11.count()
print(df_1811_rows)

tripduration               1260355
starttime                  1260355
stoptime                   1260355
start station id           1260275
start station name         1260275
start station latitude     1260355
start station longitude    1260355
end station id             1260275
end station name           1260275
end station latitude       1260355
end station longitude      1260355
bikeid                     1260355
usertype                   1260355
birth year                 1260355
gender                     1260355
dtype: int64

In [11]:
# use concat to append the files
concat_24 = pd.concat([concat_23, df_2018_11], sort=True)
# reset the index of the new DF
concat_24.reset_index()
concat_24.head()

,bikeid,birth year,end station id,end station latitude,end station longitude,end station name,gender,start station id,start station latitude,start station longitude,start station name,starttime,stoptime,tripduration,usertype
0,25577,1980,366.0,40.693261,-73.968896,Clinton Ave & Myrtle Ave,1,252.0,40.732264,-73.998522,MacDougal St & Washington Sq,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,1635,Subscriber
1,34377,1969,3242.0,40.691029,-73.991834,Schermerhorn St & Court St,0,314.0,40.693830,-73.990539,Cadman Plaza West & Montague St,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,132,Subscriber
2,30496,1975,3384.0,40.678724,-73.995991,Smith St & 3 St,1,3142.0,40.761227,-73.960940,1 Ave & E 62 St,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3337,Subscriber
3,28866,1984,3690.0,40.713342,-74.009355,Park Pl & Church St,2,308.0,40.713079,-73.998512,St James Pl & Oliver St,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,436,Subscriber
4,20943,1994,380.0,40.734011,-74.002939,W 4 St & 7 Ave S,1,345.0,40.736494,-73.997044,W 13 St & 6 Ave,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,8457,Customer

In [12]:
# get # of rows for concatenate
concat_24_rows = concat_24.count()
print(concat_24_rows)

bikeid                     5016896
birth year                 5016896
end station id             5015876
end station latitude       5016896
end station longitude      5016896
end station name           5015876
gender                     5016896
start station id           5015876
start station latitude     5016896
start station longitude    5016896
start station name         5015876
starttime                  5016896
stoptime                   5016896
tripduration               5016896
usertype                   5016896
dtype: int64

In [13]:
# read files into dataframe for apr 2018
df_2018_12 = pd.read_csv(bike_2018_12)
df_2018_12.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,689,2018-12-01 00:00:04.3020,2018-12-01 00:11:33.8460,3359.0,E 68 St & Madison Ave,40.769157,-73.967035,164.0,E 47 St & 2 Ave,40.753231,-73.970325,35033,Subscriber,1989,1
1,204,2018-12-01 00:00:05.5330,2018-12-01 00:03:30.5230,3504.0,E 123 St & Lexington Ave,40.802926,-73.937900,3490.0,E 116 St & 2 Ave,40.796879,-73.937261,20501,Subscriber,1966,1
2,316,2018-12-01 00:00:10.2330,2018-12-01 00:05:27.2030,270.0,Adelphi St & Myrtle Ave,40.693083,-73.971789,243.0,Fulton St & Rockwell Pl,40.688226,-73.979382,18386,Subscriber,1984,1
3,726,2018-12-01 00:00:21.9570,2018-12-01 00:12:28.1830,495.0,W 47 St & 10 Ave,40.762699,-73.993012,3660.0,W 16 St & 8 Ave,40.741022,-74.001385,27616,Subscriber,1983,1
4,397,2018-12-01 00:00:29.6320,2018-12-01 00:07:07.4460,473.0,Rivington St & Chrystie St,40.721101,-73.991925,3467.0,W Broadway & Spring Street,40.724947,-74.001659,35096,Subscriber,1976,1

In [14]:
# get # of rows
df_1812_rows = df_2018_12.count()
print(df_1812_rows)

tripduration               1016505
starttime                  1016505
stoptime                   1016505
start station id           1016416
start station name         1016416
start station latitude     1016505
start station longitude    1016505
end station id             1016416
end station name           1016416
end station latitude       1016505
end station longitude      1016505
bikeid                     1016505
usertype                   1016505
birth year                 1016505
gender                     1016505
dtype: int64

In [15]:
# use concat to append the rows of DF2 to DF1
concat_25 = pd.concat([concat_24, df_2018_12], sort=True)
# reset the index of the new DF
concat_25.reset_index()
concat_25.head()

,bikeid,birth year,end station id,end station latitude,end station longitude,end station name,gender,start station id,start station latitude,start station longitude,start station name,starttime,stoptime,tripduration,usertype
0,25577,1980,366.0,40.693261,-73.968896,Clinton Ave & Myrtle Ave,1,252.0,40.732264,-73.998522,MacDougal St & Washington Sq,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,1635,Subscriber
1,34377,1969,3242.0,40.691029,-73.991834,Schermerhorn St & Court St,0,314.0,40.693830,-73.990539,Cadman Plaza West & Montague St,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,132,Subscriber
2,30496,1975,3384.0,40.678724,-73.995991,Smith St & 3 St,1,3142.0,40.761227,-73.960940,1 Ave & E 62 St,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3337,Subscriber
3,28866,1984,3690.0,40.713342,-74.009355,Park Pl & Church St,2,308.0,40.713079,-73.998512,St James Pl & Oliver St,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,436,Subscriber
4,20943,1994,380.0,40.734011,-74.002939,W 4 St & 7 Ave S,1,345.0,40.736494,-73.997044,W 13 St & 6 Ave,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,8457,Customer

In [16]:
# get # of rows for concatenate
concat_25_rows = concat_25.count()
print(concat_25_rows)

bikeid                     6033401
birth year                 6033401
end station id             6032292
end station latitude       6033401
end station longitude      6033401
end station name           6032292
gender                     6033401
start station id           6032292
start station latitude     6033401
start station longitude    6033401
start station name         6032292
starttime                  6033401
stoptime                   6033401
tripduration               6033401
usertype                   6033401
dtype: int64

In [17]:
# read files into dataframe for Aug 2017
df_2019_01 = pd.read_csv(bike_2019_01)
df_2019_01.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,320,2019-01-01 00:01:47.4010,2019-01-01 00:07:07.5810,3160.0,Central Park West & W 76 St,40.778968,-73.973747,3283.0,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,1
1,316,2019-01-01 00:04:43.7360,2019-01-01 00:10:00.6080,519.0,Pershing Square North,40.751873,-73.977706,518.0,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,1
2,591,2019-01-01 00:06:03.9970,2019-01-01 00:15:55.4380,3171.0,Amsterdam Ave & W 82 St,40.785247,-73.976673,3154.0,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,1
3,2719,2019-01-01 00:07:03.5450,2019-01-01 00:52:22.6500,504.0,1 Ave & E 16 St,40.732219,-73.981656,3709.0,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,1
4,303,2019-01-01 00:07:35.9450,2019-01-01 00:12:39.5020,229.0,Great Jones St,40.727434,-73.993790,503.0,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,1

In [18]:
# get # of rows
df_1901_rows = df_2019_01.count()
print(df_1901_rows)

tripduration               967287
starttime                  967287
stoptime                   967287
start station id           967269
start station name         967269
start station latitude     967287
start station longitude    967287
end station id             967269
end station name           967269
end station latitude       967287
end station longitude      967287
bikeid                     967287
usertype                   967287
birth year                 967287
gender                     967287
dtype: int64

In [19]:
# use concat to append the rows
concat_26 = pd.concat([concat_25, df_2019_01], sort=True)
# reset the index of the new DF
concat_26.reset_index()
concat_26.head()

,bikeid,birth year,end station id,end station latitude,end station longitude,end station name,gender,start station id,start station latitude,start station longitude,start station name,starttime,stoptime,tripduration,usertype
0,25577,1980,366.0,40.693261,-73.968896,Clinton Ave & Myrtle Ave,1,252.0,40.732264,-73.998522,MacDougal St & Washington Sq,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,1635,Subscriber
1,34377,1969,3242.0,40.691029,-73.991834,Schermerhorn St & Court St,0,314.0,40.693830,-73.990539,Cadman Plaza West & Montague St,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,132,Subscriber
2,30496,1975,3384.0,40.678724,-73.995991,Smith St & 3 St,1,3142.0,40.761227,-73.960940,1 Ave & E 62 St,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3337,Subscriber
3,28866,1984,3690.0,40.713342,-74.009355,Park Pl & Church St,2,308.0,40.713079,-73.998512,St James Pl & Oliver St,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,436,Subscriber
4,20943,1994,380.0,40.734011,-74.002939,W 4 St & 7 Ave S,1,345.0,40.736494,-73.997044,W 13 St & 6 Ave,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,8457,Customer

In [20]:
# get # of rows for concatenate
concat_26_rows = concat_26.count()
print(concat_26_rows)

bikeid                     7000688
birth year                 7000688
end station id             6999561
end station latitude       7000688
end station longitude      7000688
end station name           6999561
gender                     7000688
start station id           6999561
start station latitude     7000688
start station longitude    7000688
start station name         6999561
starttime                  7000688
stoptime                   7000688
tripduration               7000688
usertype                   7000688
dtype: int64

In [21]:
# read files into dataframe
df_2019_02 = pd.read_csv(bike_2019_02)
df_2019_02.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,219,2019-02-01 00:00:06.2570,2019-02-01 00:03:46.1090,3494.0,E 115 St & Lexington Ave,40.797911,-73.942300,3501.0,E 118 St & Madison Ave,40.801487,-73.944251,33450,Subscriber,1989,1
1,143,2019-02-01 00:00:28.0320,2019-02-01 00:02:51.7460,438.0,St Marks Pl & 1 Ave,40.727791,-73.985649,236.0,St Marks Pl & 2 Ave,40.728419,-73.987140,25626,Subscriber,1990,1
2,296,2019-02-01 00:01:13.9870,2019-02-01 00:06:10.7340,3571.0,Bedford Ave & Bergen St,40.676368,-73.952918,3549.0,Grand Ave & Bergen St,40.678045,-73.962408,35568,Subscriber,1987,1
3,478,2019-02-01 00:01:14.1520,2019-02-01 00:09:12.7870,167.0,E 39 St & 3 Ave,40.748901,-73.976049,477.0,W 41 St & 8 Ave,40.756405,-73.990026,25045,Subscriber,1964,2
4,225,2019-02-01 00:01:49.3410,2019-02-01 00:05:34.4980,3458.0,W 55 St & 6 Ave,40.763094,-73.978350,3443.0,W 52 St & 6 Ave,40.761330,-73.979820,34006,Subscriber,1979,1

In [22]:
# get # of rows
df_1902_rows = df_2019_02.count()
print(df_1902_rows)

tripduration               943744
starttime                  943744
stoptime                   943744
start station id           943735
start station name         943735
start station latitude     943744
start station longitude    943744
end station id             943735
end station name           943735
end station latitude       943744
end station longitude      943744
bikeid                     943744
usertype                   943744
birth year                 943744
gender                     943744
dtype: int64

In [24]:
# use concat to append the rows
concat_27 = pd.concat([concat_26, df_2019_02], sort=True)
# reset the index of the new DF
concat_27.reset_index()
concat_27.head()

,bikeid,birth year,end station id,end station latitude,end station longitude,end station name,gender,start station id,start station latitude,start station longitude,start station name,starttime,stoptime,tripduration,usertype
0,25577,1980,366.0,40.693261,-73.968896,Clinton Ave & Myrtle Ave,1,252.0,40.732264,-73.998522,MacDougal St & Washington Sq,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,1635,Subscriber
1,34377,1969,3242.0,40.691029,-73.991834,Schermerhorn St & Court St,0,314.0,40.693830,-73.990539,Cadman Plaza West & Montague St,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,132,Subscriber
2,30496,1975,3384.0,40.678724,-73.995991,Smith St & 3 St,1,3142.0,40.761227,-73.960940,1 Ave & E 62 St,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3337,Subscriber
3,28866,1984,3690.0,40.713342,-74.009355,Park Pl & Church St,2,308.0,40.713079,-73.998512,St James Pl & Oliver St,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,436,Subscriber
4,20943,1994,380.0,40.734011,-74.002939,W 4 St & 7 Ave S,1,345.0,40.736494,-73.997044,W 13 St & 6 Ave,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,8457,Customer

In [25]:
# get # of rows for concatenate
concat_27_rows = concat_27.count()
print(concat_27_rows)

bikeid                     7944432
birth year                 7944432
end station id             7943296
end station latitude       7944432
end station longitude      7944432
end station name           7943296
gender                     7944432
start station id           7943296
start station latitude     7944432
start station longitude    7944432
start station name         7943296
starttime                  7944432
stoptime                   7944432
tripduration               7944432
usertype                   7944432
dtype: int64

In [26]:
# read files into dataframe
df_2019_03 = pd.read_csv(bike_2019_03)
df_2019_03.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1463,2019-03-01 00:00:16.0970,2019-03-01 00:24:39.3880,319.0,Fulton St & Broadway,40.711066,-74.009447,347.0,Greenwich St & W Houston St,40.728846,-74.008591,35618,Subscriber,1989,1
1,285,2019-03-01 00:00:32.3850,2019-03-01 00:05:18.1830,439.0,E 4 St & 2 Ave,40.726281,-73.989780,150.0,E 2 St & Avenue C,40.720874,-73.980858,31113,Subscriber,1980,1
2,686,2019-03-01 00:00:47.7970,2019-03-01 00:12:14.3090,526.0,E 33 St & 5 Ave,40.747659,-73.984907,3474.0,6 Ave & Spring St,40.725256,-74.004121,19617,Subscriber,1987,1
3,442,2019-03-01 00:01:01.2090,2019-03-01 00:08:23.7510,3474.0,6 Ave & Spring St,40.725256,-74.004121,355.0,Bayard St & Baxter St,40.716021,-73.999744,27086,Subscriber,1987,2
4,2913,2019-03-01 00:01:09.2810,2019-03-01 00:49:42.3810,379.0,W 31 St & 7 Ave,40.749156,-73.991600,212.0,W 16 St & The High Line,40.743349,-74.006818,34791,Subscriber,1991,1

In [27]:
# get # of rows
df_1903_rows = df_2019_03.count()
print(df_1903_rows)

tripduration               1327960
starttime                  1327960
stoptime                   1327960
start station id           1327950
start station name         1327950
start station latitude     1327960
start station longitude    1327960
end station id             1327950
end station name           1327950
end station latitude       1327960
end station longitude      1327960
bikeid                     1327960
usertype                   1327960
birth year                 1327960
gender                     1327960
dtype: int64

In [28]:
# use concat to append the rows
concat_28 = pd.concat([concat_27, df_2019_03], sort=True)
# reset the index of the new DF
concat_28.reset_index()
concat_28.head()

,bikeid,birth year,end station id,end station latitude,end station longitude,end station name,gender,start station id,start station latitude,start station longitude,start station name,starttime,stoptime,tripduration,usertype
0,25577,1980,366.0,40.693261,-73.968896,Clinton Ave & Myrtle Ave,1,252.0,40.732264,-73.998522,MacDougal St & Washington Sq,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,1635,Subscriber
1,34377,1969,3242.0,40.691029,-73.991834,Schermerhorn St & Court St,0,314.0,40.693830,-73.990539,Cadman Plaza West & Montague St,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,132,Subscriber
2,30496,1975,3384.0,40.678724,-73.995991,Smith St & 3 St,1,3142.0,40.761227,-73.960940,1 Ave & E 62 St,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3337,Subscriber
3,28866,1984,3690.0,40.713342,-74.009355,Park Pl & Church St,2,308.0,40.713079,-73.998512,St James Pl & Oliver St,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,436,Subscriber
4,20943,1994,380.0,40.734011,-74.002939,W 4 St & 7 Ave S,1,345.0,40.736494,-73.997044,W 13 St & 6 Ave,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,8457,Customer

In [31]:
# get # of rows for concatenate
concat_28_rows = concat_21.count()
print(concat_21_rows)

bikeid                     9537761
birth year                 9537761
end station id             9537761
end station latitude       9537761
end station longitude      9537761
end station name           9537761
gender                     9537761
start station id           9537761
start station latitude     9537761
start station longitude    9537761
start station name         9537761
starttime                  9537761
stoptime                   9537761
tripduration               9537761
usertype                   9537761
dtype: int64

In [29]:
# read files into dataframe
df_2019_04 = pd.read_csv(bike_2019_04)
df_2019_04.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,88,2019-04-01 00:00:14.7410,2019-04-01 00:01:42.8900,2006,Central Park S & 6 Ave,40.765909,-73.976342,2006,Central Park S & 6 Ave,40.765909,-73.976342,36515,Subscriber,1982,1
1,443,2019-04-01 00:00:20.8270,2019-04-01 00:07:44.2920,254,W 11 St & 6 Ave,40.735324,-73.998004,540,Lexington Ave & E 29 St,40.743116,-73.982154,17406,Subscriber,1983,1
2,662,2019-04-01 00:00:30.9960,2019-04-01 00:11:33.2610,3244,University Pl & E 8 St,40.731437,-73.994903,3244,University Pl & E 8 St,40.731437,-73.994903,20775,Subscriber,1988,1
3,86,2019-04-01 00:00:30.9110,2019-04-01 00:01:56.9600,526,E 33 St & 5 Ave,40.747659,-73.984907,474,5 Ave & E 29 St,40.745168,-73.986831,36270,Subscriber,1982,1
4,136,2019-04-01 00:00:32.5930,2019-04-01 00:02:49.3910,461,E 20 St & 2 Ave,40.735877,-73.982050,504,1 Ave & E 16 St,40.732219,-73.981656,36051,Subscriber,1986,1

In [30]:
# get # of rows
df_1904_rows = df_2019_04.count()
print(df_1904_rows)

tripduration               1766094
starttime                  1766094
stoptime                   1766094
start station id           1766094
start station name         1766094
start station latitude     1766094
start station longitude    1766094
end station id             1766094
end station name           1766094
end station latitude       1766094
end station longitude      1766094
bikeid                     1766094
usertype                   1766094
birth year                 1766094
gender                     1766094
dtype: int64

In [31]:
# use concat to append the rows
concat_29 = pd.concat([concat_28, df_2019_04], sort=True)
# reset the index of the new DF
concat_29.reset_index()
concat_29.head()

,bikeid,birth year,end station id,end station latitude,end station longitude,end station name,gender,start station id,start station latitude,start station longitude,start station name,starttime,stoptime,tripduration,usertype
0,25577,1980,366.0,40.693261,-73.968896,Clinton Ave & Myrtle Ave,1,252.0,40.732264,-73.998522,MacDougal St & Washington Sq,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,1635,Subscriber
1,34377,1969,3242.0,40.691029,-73.991834,Schermerhorn St & Court St,0,314.0,40.693830,-73.990539,Cadman Plaza West & Montague St,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,132,Subscriber
2,30496,1975,3384.0,40.678724,-73.995991,Smith St & 3 St,1,3142.0,40.761227,-73.960940,1 Ave & E 62 St,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3337,Subscriber
3,28866,1984,3690.0,40.713342,-74.009355,Park Pl & Church St,2,308.0,40.713079,-73.998512,St James Pl & Oliver St,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,436,Subscriber
4,20943,1994,380.0,40.734011,-74.002939,W 4 St & 7 Ave S,1,345.0,40.736494,-73.997044,W 13 St & 6 Ave,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,8457,Customer

In [32]:
# get # of rows for concatenate
concat_29_rows = concat_29.count()
print(concat_29_rows)

bikeid                     11038486
birth year                 11038486
end station id             11037340
end station latitude       11038486
end station longitude      11038486
end station name           11037340
gender                     11038486
start station id           11037340
start station latitude     11038486
start station longitude    11038486
start station name         11037340
starttime                  11038486
stoptime                   11038486
tripduration               11038486
usertype                   11038486
dtype: int64

In [33]:
# Rename the columns to be consistent with the expect
# I need to rename the column headings in the old dataframe to the new format.

concat_29 = concat_29.rename(columns={'tripduration':'Trip Duration', 'startime':'Start Time', \
                         'stoptime':'Stop Time', 'start station id':'Start Station ID', \
                         'start station name':'Start Station Name', \
                         'start station latitude':'Start Station Latitude', \
                         'start station longitude':'Start Station Longitude', \
                         'end station id':'End Station ID', \
                         'end station name':'End Station Name', \
                         'end station latitude':'End Station Latitude', \
                         'end station longitude':'End Station Longitude', \
                         'bikeid':'Bike ID', \
                         'usertype':'User Type', \
                         'birth year':'Birth Year', \
                         'gender':'Gender'})
# check to see if columns are retitled
concat_29.head()

,Bike ID,Birth Year,End Station ID,End Station Latitude,End Station Longitude,End Station Name,Gender,Start Station ID,Start Station Latitude,Start Station Longitude,Start Station Name,starttime,Stop Time,Trip Duration,User Type
0,25577,1980,366.0,40.693261,-73.968896,Clinton Ave & Myrtle Ave,1,252.0,40.732264,-73.998522,MacDougal St & Washington Sq,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,1635,Subscriber
1,34377,1969,3242.0,40.691029,-73.991834,Schermerhorn St & Court St,0,314.0,40.693830,-73.990539,Cadman Plaza West & Montague St,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,132,Subscriber
2,30496,1975,3384.0,40.678724,-73.995991,Smith St & 3 St,1,3142.0,40.761227,-73.960940,1 Ave & E 62 St,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3337,Subscriber
3,28866,1984,3690.0,40.713342,-74.009355,Park Pl & Church St,2,308.0,40.713079,-73.998512,St James Pl & Oliver St,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,436,Subscriber
4,20943,1994,380.0,40.734011,-74.002939,W 4 St & 7 Ave S,1,345.0,40.736494,-73.997044,W 13 St & 6 Ave,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,8457,Customer

In [34]:
# export to csv
concat_29.to_csv("concat_29_201809_201904.csv", index=False, header=True)